{% extends 'bootstrap/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='script/main.js') }}"></script>
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super () }}
    <div class="header">
        <div class="container">
        <img src="{{ url_for('.static', filename='images/horizonlog.png') }}" class="logo">
        <h1>ГОРИЗОНТ</h1>
            <h4>Научно-производственная фирма</h4>
        </div>
    </div>
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-inverse fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                        aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="/home">О предприятии</a></li>
                    <li><a href="/researches">ГТИ</a></li>
                    <li><a href="/service">Телеметрическое сопровождение</a></li>
                    <li><a href="/billboard">Доска информации</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ super() }}
<body data-spy="scroll" data-target="#myNavbar" data-offset="50"></body>
{% block footer %}
<footer>
  <div class="container">
  </div>
</footer>
{% endblock footer %}
{% endblock %}