{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="vacancy">
            <h4>ООО НПФ «Горизонт» приглашает на работу:</h4>
            <ul>
                <li>Инженер-технолог по наклонно-направленному бурению</li>
                <li>Инженер-телеметрист</li>
                <li>Оперетор ГТИ</li>
            </ul>
            <p>опыт работы, образование не ниже средне-технического</p>
            <h4>Резюме направлять на e-mail: lab9-gti@mail.ru</h4>
            <a class="button" href="#">Создать резюме</a>
        </div>
        <div class="docinfo">
            <h3>Сводные данные о результатах проведения СОУТ в ООО НПФ "Горизонт" на 23.01.2019</h3>
            <ul class="style_li">
                <li><a>Мероприятия по улучшению условий труда по результатам СОУТ;</a></li>
                <li><a>Отчет о проведении СОУТ;</a></li>
                <li><a>Сводная ведомость СОУТ 2018;</a></li>
                <li><a>Сводная ведомость СОУТ 2017;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
