{% extends 'base.html' %}

{% block content %}
  <div class="row">
      <div id="contacts">
          <h2>Обратитесь к нам:</h2>
          <ul>
              <li>Директор ООО НПФ "Горизонт" Брякин Игорь Николаевич:
                  Телефон/Факс: +7 (34767) 5-22-35 Телефон: +7 987 619 31 60
                  Адрес: 452614 Башкортостан, г.Октябрьский, ул.Горького 1, офис 206
                  e-mail: NPFgorizont@ufamts.ru</li>

              <li>Заместитель директора по ГТИ Меньщиков Игорь Викторович:
                  Телефон: +7 917 806 53 39
                  e-mail: lab9-gti@mail.ru</li>

              <li>Заместитель директора по сервисным работам Аблеев Марат Гизарович:
                  Телефон: +7 919 619 23 15
                  e-mail: to.gorizont@yandex.ru</li>

              <li>Главный бухгалтер Удинцева Надежда Михайловна:
                  Телефон/Факс: +7 (34767) 5-22-35 Телефон: +7 919 619 23 16
                  e-mail: buhgalteriya@npfgorizont.ru</li>
          </ul>
      </div>
  </div>
{% endblock %}