{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <p>создана при Всесоюзном научно-исследовательском и проектно-конструкторским институтом геофизических исследований
        геологоразведочных скважин — ПАО НПП «ВНИИГИС», является одной из лидирующих организаций на Российском рынке
        в области информационного сопровождения в процессе бурения наклонно-направленных и горизонтальных скважин
        забойными телесистемами с электромагнитным каналом связи
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="block_1">
            <h3>Виды предоставляемых услуг:</h3>
            <ul class="style_li">
                <li>бурение горизонтальных и наклонно-направленных скважин</li>
                <li>информационное сопровождение бурения</li>
                <li>использование телеметрических систем с электромагнитным каналом связи</li>
                <li>применение технологии турбинно-роторного бурения</li>
                <li>геолого-технологические исследования в процессе бурения</li>
                <li>инженерно-технологическое сопровождение</li>
                <li>изготовление и поставка телеметрических систем «ЗТМ-172», «Азимут-108», ГТИ «ГЕОСЕНСОР»</li>
                <li>сервисное обслуживание, поставка запасных частей и узлов к указанным телесистемам</li>
            </ul>
        </div>
        <div class="block_2">
            <h3>География работ включает в себя месторождения:</h3>
            <p>Оренбургской, Ульяновской, Томской, Пермской, Саратовской областей, Республики Коми, Ханты-Мансийского авт. округа,
                Ямало-Ненецкого авт. округа, РБ, РТ и др.
            </p>
        </div>
    </div>
</div>
<div>
    <p>Ссылки + форма для ведомостей + блок о вакансиях</p>
</div>
{% endblock %}