{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <p>создана при Всесоюзном научно-исследовательском и проектно-конструкторским институтом геофизических исследований
        геологоразведочных скважин — ПАО НПП «ВНИИГИС», является одной из лидирующих организаций на Российском рынке
        в области информационного сопровождения в процессе бурения наклонно-направленных и горизонтальных скважин
        забойными телесистемами с электромагнитным каналом связи
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="main">
            <h4>Виды предоставляемых услуг:</h4>
            <ul>
                <li>информационное сопровождение бурения наклонно-направленных и горизонтальных скважин с использованием
                    телеметрических систем диаметром 172 мм и 108 мм с электромагнитным каналом связи, в том числе
                    с использованием технологии турбинно-роторного бурения;
                </li>
                <li>геолого-технологические исследования в процессе бурения наклонно-направленных и горизонтальных скважин</li>
                <li>инженерно-технологическое сопровождение при бурении наклонно-направленных и горизонтальных скважин</li>
                <li>изготовление и поставка телеметрических систем ЗТМ-172 и Азимут-108</li>
                <li>изготовление и поставка станций ГТИ « ГЕОСЕНСОР»</li>
                <li>сервисное обслуживание и поставка запасных частей и узлов телесистем ЗТМ-172 и Азимут-108</li>
            </ul>
        </div>
    </div>
        <div class="side">
            <h5>География работ включает в себя:</h5>
            <p>месторождения Оренбургской, Ульяновской, Томской, Пермской, Саратовской областей, Республики Коми,
                Ханты-Мансийского авт. округа, Ямало-Ненецкого авт. округа, РБ, РТ и др.</p>
        </div>
</div>
<div>
    <p>Ссылки + форма для ведомостей + блок о вакансиях</p>
</div>
{% endblock %}