{% extends 'base.html' %}

{% block content %}
<div id="researches">
    <div class="jumbotron text-center">
        <p>геолого-технологические исследования проводятся для повышения эффективности и безопасности технологического
            процесса разработки месторождения при строительстве скважин, «ГОРИЗОНТ» предлагает данные услуги
            с использованием системы контроля процесса бурения «ГЕОСЕНСОР», ключевой особенностью которой является:
        </p>
        <p>непрерывный контроль и регистрация технологических параметров процесса бурения, доступность оперативного
            управления бурением, безаварийная проводка наклонно-направленных скважин, организация рабочего места
            технолога по бурению, адаптированость для работы в комплексе с забойной телеметрической системой «ЗТМ-172»
            и «Азимут-108» собственного производства
        </p>
    </div>
    <div class="container-fluid">
        <h3>Система состоит из:</h3>
        <div class="row">
            <div class="block_3">
                <ol>
                    <li>Рабочее место оператора ГТИ:</li>
                    <p>ПК объединенный в локальную сеть с компьютером оператора-телеметриста
                        и технолога ННБ. Принтер. Связь с ПК бурового мастера - по требованию</p>
                    <li>Рабочее место технолога наклонно-направленного бурения:</li>
                    <p>организовано по принципу регистрации информационных параметров телесистемы «ЗТМ-172»,
                        технологических параметров системы «ГЕОСЕНСОР» и отображения их на экранах мониторов,
                        что позволяет оперативно реагировать на ситуации, возникающие в процессе бурения,
                        управлять режимами бурения</p>
                    <li>Датчики технологических параметров:</li>
                    <ul>
                        <li>обороты вала буровой лебедки (датчик глубины);</li>
                        <li>нагрузка на крюке (датчик веса);</li>
                        <li>давление промывочной жидкости на входе;</li>
                        <li>момент на ключе;</li>
                        <li>уровень промывочной жидкости в емкости (количество по требованию заказчика);</li>
                        <li>индикатор расхода (потока) промывочной жидкости на выходе;</li>
                        <li>расход промывочной жидкости на входе;</li>
                        <li>обороты ротора и датчик момента на роторе;</li>
                        <li>плотность промывочной жидкости в приемной емкости;</li>
                        <li>ход насоса;</li>
                        <li>температура промывочной жидкости;</li>
                        <li>газоанализатор суммарного газосодержания;</li>
                        <li>электропроводность промывочной жидкости;</li>
                        <li>комплексный датчик плотности и температуры промывочной жидкости;</li>
                    </ul>
                    <p>Система может быть укомплектована другим набором датчиков, либо дополнительными датчиками</p>
                    <li>Табло (пульт) бурильщика, назначение:</li>
                    <p>сбор информации с датчиков, контроль и наглядное отображение основных технологических параметров
                        бурения, а также инклинометрических - передаваемых с ЗТС (азимут, зенитный угол,
                        положение отклонителя), вывод аварийной-световой сигнализации и сообщений для бурильщика
                        в бегущей строке</p>
                    <img src="{{ url_for('.static', filename='images/driller_s_console.jpg') }}" class="imgsize">
                    <p>Табло бурильщика осуществляет:</p>
                    <ul>
                        <li>автоматизированный сбор информации с датчиков технологических параметров бурения;</li>
                        <li>обработку и отображение на 18 линейных и цифровых индикаторах;</li>
                        <li>контроль параметров по установленным пороговым значениям;</li>
                        <li>отображение параметров ЗТС;</li>
                        <li>вывод сообщений для бурильщика в бегущей (информационной) строке;</li>
                        <li>двухстороннюю связь с компьютером для передачи/приема информации;</li>
                    </ul>
                    <li>Отображаемые параметры:</li>
                    <ul>
                        <li>давление ПЖ на входе;</li>
                        <li>момент на машинном ключе;</li>
                        <li>расход ПЖ на входе и выходе;</li>
                        <li>скорость СПО;</li>
                        <li>уровень ПЖ в основной и доливной емкости;</li>
                        <li>экран (бегущая строка);</li>
                        <li>резервный индикатор;</li>
                        <li>нагрузка на крюке и на долото;</li>
                        <li>глубина, положение над забоем;</li>
                        <li>зенитный угол ЗТС, азимут;</li>
                        <li>положение отклонителя;</li>
                        <li>резервный индикатор;</li>
                    </ul>
                </ol>
            </div>
            <div class="block_4">
                <ol>
                    <li>Дополнительное информационное табло:</li>
                    <p>отображение технологических параметров бурения в насосной станции (или другой зоны буровой).
                        Отображаемые параметры:</p>
                    <ul>
                        <li>расход ПЖ на входе;</li>
                        <li>нагрузка на долото;</li>
                        <li>положение талевого блока над роторным столом;</li>
                        <li>давление ПЖ;</li>
                    </ul>
                    <img src="{{ url_for('.static', filename='images/scoreboard_driller.jpg') }}" class="imgsize">
                    <li>Программное обеспечение, назначение:</li>
                    <ul>
                        <li>регистрация, отображение и контроль 20 основных технологических параметров в процессе бурения;</li>
                        <li>оперативное создание стандартных отчетов о процессе бурения скважины для предоставления
                            заказчику и контроля строительства скважины;</li>
                        <li>обработка, просмотр и печать технологической информации, полученной в процессе бурения скважины;</li>
                        <li>формирование и печать выходных сводных диаграмм;</li>
                        <li>сохранение параметров в базу данных.</li>
                    </ul>
                    <li>Модуль газового каротажа</li>
                    <p>Обеспечивает регистрацию, контроль и исследование газосодержания промывочной жидкости.
                        Включает выносное оборудование и газоаналитическую аппаратуру:</p>
                    <ul>
                        <li>хроматограф «Хромопласт»;</li>
                        <li>дегазатор желобный с газовоздушной линией;</li>
                    </ul>
                    <li>Геологический модуль</li>
                    <p>Обеспечивает исследование и регистрацию данных по шламу, керну приборами:</p>
                    <ul>
                        <li>люминесцентная установка;</li>
                        <li>осушитель шлама;</li>
                        <li>микроскоп с фотоприставкой;</li>
                        <li>весы электронные, торсионные;</li>
                        <li>сита фракционные;</li>
                        <li>набор химпосуды, химреагентов и расходных материалов;</li>
                    </ul>
                    <li>Вагон-станция на шасси прицепа</li>
                    <p>Полный комплект бытового оборудования и средств жизнеобеспечения для работы и проживания
                        2-х операторов ГТИ, оператора-телеметриста, технолога ННБ</p>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}