{% extends 'base.html' %}

{% block content %}
 <div class="row">
     <div id="researches">
         <h2>геолого-технологических исследований</h2>
         <p>ООО НПФ «ГОРИЗОНТ» предлагает услуги по проведению геолого-технологических исследований при строительстве
             скважин с использованием системы контроля процесса бурения (СКПБ) «ГЕОСЕНСОР».
             Назначение системы:
             прерывный контроль и регистрация технологических параметров процесса бурения с целью оперативного управления
             бурением и оптимальной, безаварийной проводки наклонно-направленных скважин с организацией рабочего места
             технолога по наклонно-направленному бурению. СКПБ «ГЕОСЕНСОР» адаптирована для работы в комплексе с  забойной
             телеметрической системой (ЗТС) ЗТМ-172 и Азимут-108 собственного производства.
             Состав системы:
             Рабочее место оператора ГТИ: ПК объединенный в локальную сеть с компьютером оператора-телеметриста и технолога ННБ.
             Принтер. Связь с ПК бурового мастера - по требованию.
             Рабочее место технолога наклонно-направленного бурения: Организовано по принципу регистрации информационных параметров телесистемы ЗТМ-172, технологических параметров системы «ГЕОСЕНСОР» и отображения их на экранах мониторов, что позволяет оперативно реагировать на ситуации, возникающие в процессе бурения, управлять режимами бурения.
             Датчики технологических параметров:
             датчик оборотов вала буровой лебедки (датчик глубины);
             датчик нагрузки на крюке (датчик веса);
             датчик давления промывочной жидкости на входе;
             датчик момента на ключе;
             датчик уровня промывочной жидкости в емкости (количество по требованию заказчика);
             индикатор расхода (потока) промывочной жидкости на выходе;
             датчик расхода промывочной жидкости на входе;
             датчик оборотов ротора;
             датчик момента на роторе;
             датчик плотности промывочной жидкости в приемной емкости;
             датчик ходов насоса;
             датчик температуры промывочной жидкости;
             газоанализатор суммарного газосодержания;
             датчик электропроводности промывочной жидкости;
             комплексный датчик плотности и температуры промывочной жидкости.

             Система может быть укомплектована другим набором датчиков, либо дополнительными датчиками.
             Табло (пульт) бурильщика.

             Назначение: сбор информации с датчиков, контроль и наглядное отображение основных технологических параметров бурения, отображение инклинометрических параметров, передаваемых с ЗТС (азимут, зенитный угол, положение отклонителя), вывод аварийной-световой сигнализации и сообщений для бурильщика в бегущей строке.

             Табло бурильщика осуществляет:
             автоматизированный сбор информации с датчиков технологических параметров бурения, обработку и отображение на 18 линейных и цифровых индикаторах;
             контроль параметров по установленным пороговым значениям;
             отображение параметров ЗТС;
             вывод сообщений для бурильщика в бегущей (информационной) строке;
             двухстороннюю связь с компьютером для передачи/приема информации.

             Отображаемые параметры:
             давление ПЖ на входе;
             момент на машинном ключе;
             расход ПЖ на входе;
             расход ПЖ на выходе;
             скорость СПО;
             уровень ПЖ в основной емкости;
             уровень ПЖ в доливной емкости;
             экран (бегущая строка);
             резервный индикатор;
             нагрузка на крюке;
             нагрузка на долото;
             глубина;
             положение над забоем;
             текущее
             зенитный угол ЗТС;
             азимут;

             оложение отклонителя;
             резервный индикатор;
             Дополнительное информационное табло.

             Назначение: отображение технологических параметров бурения в насосной станции (или другой зоны буровой).

             Отображаемые параметры:

             расход ПЖ на входе;
             нагрузка на долото;
             положение талевого блока над роторным столом;
             давление ПЖ.
             Программное обеспечение.

             Назначение:
             регистрация, отображение и контроль 20 основных технологических параметров в процессе бурения;
             регистрация, отображение и контроль текущих данных телеметрической системы в процессе бурения;
             оперативное создание стандартных отчетов о процессе бурения скважины для предоставления заказчику и контроля строительства скважины;
             обработка, просмотр и печать технологической информации, полученной в процессе бурения скважины;
             формирование и печать выходных сводных диаграмм;
             сохранение параметров в базу данных.

             Модуль газового каротажа.
             Обеспечивает регистрацию, контроль и исследование газосодержания промывочной жидкости.
             Включает выносное оборудование и газоаналитическую аппаратуру:
             хроматограф «Хромопласт»;
             дегазатор желобный с газовоздушной линией.
             Геологический модуль.
             Обеспечивает исследование и регистрацию данных по шламу, керну приборами:
             люминесцентная установка;
             осушитель шлама;
             микроскоп с фотоприставкой;
             весы электронные, торсионные;
             сита фракционные;
             набор химпосуды, химреагентов и расходных материалов.
             Вагон-станция на шасси прицепа.
             Полный комплект бытового оборудования и средств жизнеобеспечения для работы и проживания 2-х операторов ГТИ, оператора-телеметриста, технолога ННБ.
         </p>
     </div>
 </div>
{% endblock %}