{% extends 'base.html' %}

{% block content %}
  <div class="row">
      <div id="service">
          <h2>Обратитесь к нам:</h2>
          <p>Одним из основных направлений деятельности ООО НПФ «Горизонт» является разработка и поставка телеметрических
              систем с беспроводным электромагнитным каналом связи (ЗТМ-172, Азимут-108) и оказание сервисных услуг
              в процессе бурения нефтяных и газовых скважин. Являясь разработчиком данной системы и непосредственно
              работая с ними, выполняя услуги по телеметрическому сопровождению наклонно-направленных скважин,
              следуя требованиям и пожеланиям Заказчиков в выполнении работ, специалистами ООО НПФ «Горизонт» постоянно
              ведется поиск новых решений, вносятся коррективы и изменения в конструкцию системы и программы приема
              и обработки сигнала, повышая надежность в работе системы. Итогом модернизации явилось повышение точности
              показаний прибора в процессе бурения, увеличение сроков наработки узлов телесистемы в межремонтный период,
              возможность контроля технологических параметров в процессе бурения. Получена возможность применения
              телесистем при турбинно-роторном способе бурения. Телеметрическая система, кроме измерения
              инклинометрических параметров при бурении, позволяет контролировать и технологические параметры, такие
              как уровень вибрации забойного оборудования и температуру на забое. Для решения задач геонавигицации
              в горизонтальных скважинах разработаны и успешно применяются модули гамма каротажа в процессе бурения (ГК)
              и трехзондового бокового каротажа в процессе бурения (ЭКПБ). Применение современных забойных телеметрических
              систем при турбинно-роторном способе бурения, при котором одна и та же  компоновка используется для
              участков с набором угловых параметров скважины, и т.н. участков стабилизации с сохранением угловых
              значений позволили сократить время на СПО для смены компоновок. Сегодня ООО НПФ «Горизонт» может
              предоставить заказчику до 15 партий инженерного (телеметрического и технологического) сопровождения,
              Из них 5 партий могут быть мобильными, т.е. располагаться в станциях на шасси автомобиля. Все партии
              оснащены оборудованием для обеспечения связи (сотовая или спутниковая) с подразделениями Заказчика и
              специалистами своего предприятия и имеют возможность предоставления ежесуточных отчетов или обмена
              оперативной информацией. Большой опыт, высокая квалификация работающих специалистов и высокое качество
              выполняемых работ позволяют ООО НПФ «Горизонт» уверенно чувствовать себя среди конкурентов в сфере
              предоставляемых им услуг, иметь прочные и долговременные отношения с такими Заказчиками.
          </p>
      </div>
  </div>
{% endblock %}